body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background: linear-gradient(to right, #6c43bd, #3023ab); /* Adjusted purple gradient */
  text-align: center;
  padding: 30px 10px; /* Increased padding, slightly less rounded corners */
  margin-bottom: 40px;
  border-radius: 3px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: space-between; /* Centered search bar */
  margin-bottom: 30px;
}

#city-search {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

#search-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Current Weather*/
.current-weather {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Adjusted spacing */
  margin-bottom: 20px;
}

#city-name {
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 0px; /* Closer alignment */
}

#weather-icon {
  width: 120px;
  height: 120px; /* Larger icon */
}

/* 5-Day Forecast*/
.forecast {
  margin-bottom: 20px;
}

h3 { /* Header for 5 day forecast */
  margin-bottom: 15px;
  text-align: center; /* Centered title */
  font-size: 1.1em;
}

#forecast-list {
  list-style: none;
  padding: 0;
  display: flex; /* Added flexbox for horizontal layout */
  overflow-x: scroll; /* Enable horizontal scrolling if needed */
  white-space: nowrap;
}

.forecast-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px; /* Spacing between forecast cards */
  padding: 20px;
  border-radius: 5px;
  background-color: #002244; /* Dark blue background */
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 180px; /* Set width for responsive layout */
}

.forecast-date {
  font-size: 1em;
  margin-right: 10px;
  color: white;
}

.forecast-icon {
  width: 60px;
  height: 60px;
}

/* Search History */
.search-history {
  margin-bottom: 20px;
}

#search-history-list {
  list-style: none;
  padding: 0;
}

.search-history-item {
  margin-bottom: 5px;
  cursor: pointer;
  color: #6c43bd; /* Adjust purple color */
}
